body {
    font-family: 'source-serif-pro', 'Georgia', 'Cambria', 'Times New Roman', 'Times, serif';
    scroll-behavior: smooth;
  }

  a {
    outline: none;
    text-decoration: underline;
  }
  
  a:link {
    color: #000;
  }
  
  a:visited {
    color: #000;
  }
  
  a:hover {
    color: #666;
  }

  .img-profile {
    width: 120px;
    margin: 16px;
  }

  .wrap-up {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 60px;
    margin-top: 80px;
  }

  .wrap-up-list {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 60px;
  }

  .content-img-wrap {
    width: 100%;
  }


  .sub-title {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  }

  .sub-title-b {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    display: inline-block;
  }

  #title {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-style: italic;
    margin-bottom: 40px;
  }

  #title-b {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    padding-bottom: 24px;
    text-decoration: none;
  }

  #title-b a{
    text-decoration: none;
  }

  #title-b a:hover {
    border-bottom: 3px solid #666;
  }


  #icon {
    padding-left: 16px;
  }

  #icon-right {
    padding-left: 16px;
    vertical-align: 0%;
  }

  #icon-left {
    padding-right: 16px;
    vertical-align: 0%;
  }

  .content-img {
    width: 100%;
  }

  .content-img-b {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .introduction {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .col {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .contact {
    margin: 36px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  }

  .footer-small {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  }

/* Nav */
.wrap-up-nav {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 16px;
}

.wrap-up-nav-hero {
  padding-right: 10%;
  padding-left: 10%;
}

.nav {
  position: absolute;
  width: 100%;
  color: #fff;
  padding-right: 10%;
}

li {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  color: #ffffff;
  line-height: 50px;
}

.nav a:link {
  color: #fff;
}

.nav a:visited {
  color: #fff;
}

.nav a:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.logo {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight: 600;
  float: left;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 50px;
  padding-top: 8px;
  padding-left: 10%;
}


/* Nav Black */
.wrap-up-nav-b {
  position: absolute;
  width: 100%;
  color: #000;
  padding-right: 10%;
  padding-left: 10%;
}

.nav-b {
  position: absolute;
  width: 100%;
  color: #000;
}

li {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  color: #000;
  line-height: 50px;
}

.nav-b a:link {
  color: #000;
}

.nav-b a:visited {
  color: #000;
}

.nav-b a:hover {
  color: #999;
  border-bottom: 3px solid #999;
}


/* Nav Black */
.logo-b {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight: 600;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  margin-top: -10px;
}

.nav-black {
  text-decoration: none;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-black a {
  text-decoration: none;
  padding-left: 26px;
  padding-left: 16px;
  padding-right: 16px;
}

.nav-black a:hover {
  color: #555;
  border-bottom: 3px solid #555;
}



/* Nav White */
.logo-w p {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-top: -10px;
}

.nav-white {
  text-decoration: none;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: #fff;
}

.nav-white a {
  text-decoration: none;
  padding-left: 26px;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
}

.nav-white a:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}


  /* New styles added */

.nav-items {
  margin-top: 0px;
}

.hero {
  height: 60vh;
  position: relative;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

.hero .content {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.hero a {
  text-decoration: none;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.work-blunt {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../images/bg-blunt01.png");
  background-repeat: no-repeat;
  width: 100%; 
  background-size: cover;  background-position: 50% 50%;
}

.work-debitsuccess {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../images/hero-debitsuccess.jpg");
  background-repeat: no-repeat;
  width: 100%; 
  background-size: cover;  background-position: 50% 50%;
}


.work-google-insights-pump {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../images/hero-google-insights-pump.jpg");
  background-repeat: no-repeat;
  width: 100%; 
  background-size: cover;  background-position: 50% 50%;
}

.work-digitalguru {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/hero-digitalguru.png");
  background-repeat: no-repeat;
  width: 100%; 
  background-size: cover;  background-position: 50% 50%;
}

.work-youtube-delivery {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../images/hero-youtube-delivery.png");
  background-repeat: no-repeat;
  width: 100%; 
  background-size: cover;  background-position: 50% 50%;
}

.work-wordle {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../images/hero-wordle.jpg");
  background-repeat: no-repeat;
  width: 100%; 
  background-size: cover;  background-position: 50% 50%;
}