@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: Open Sans, Helvetica, sans-serif, Arial;
    text-align: center;
    background-color: #fff;
  }

  .introduction {
    font-weight: 700;
  }